.company{
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  &__text{
    margin-top: 15px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    margin-left: 80px;
  }
  &__title{
    font-size: 28px;
  }
  &__logo{
    padding: 20px;
    cursor: pointer;
    width: 500px;
    min-height: 175px;
    max-height: 175px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.category{
  margin-top: 35px;
}
a{
  text-decoration: none;
}
