.companies{
  max-width: 1152px;
  margin: 0 auto;
  &__sort{
    display: flex;
    height: 20px;
    background-color: #fafafa;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__sort p{
    margin-left: 10px;
    margin-top: 20px;
  }
  &__list{
    display: flex;
    flex-direction:column;
    gap: 20px;
  }
  &__sort-parameters{
    margin-top: 20px;
    margin-left: 20px;
  }
  &__sort-parameters-list{
    display: flex;
    gap: 30px;
  }
}
